.menue{
    display: flex;
    border-bottom: 2px solid rgb(185,185,185);
    border-top: 2px solid rgb(155,155,155);
    font-size: 20px;
    height: 40px;
    align-items: center;
}
.menue .menue-button{
    margin-left: 20px;
    height: 25px;

}
.selected{
    margin-left: 20px;
    height: 25px;
    border: 1px solid blue;
    background-color: rgb(180, 191, 251)
}
.button{
    height: 25px;
}
.tip{
    margin-left: 20px;
}
.position{
    margin-left: 10px;
}